/* This is for hero sections  */

.hero-section {
  background-image: url('../assets//vegitables.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  z-index: 1;
}

/* Optional: to make sure content is visible */
.hero-section .slide {
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is for about sections  */
.about-section {
  background: linear-gradient(135deg, #f3f4f6, #ffffff);
  color: #333;
}

.about-section h2 {
  color: #0d6efd;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.custom-attractive-btn {
  background: linear-gradient(135deg, #6f42c1, #0d6efd);
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(13, 110, 253, 0.3);
}

.custom-attractive-btn:hover {
  background: linear-gradient(135deg, #0d6efd, #6610f2);
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(13, 110, 253, 0.4);
}

/* This is for product section */
.bg-product {
  /* background: linear-gradient(135deg, #1e3c72, #2a5298); */
  background-color: #0d1b2a;
  color: white;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* This is countDown */
.timer-box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  min-width: 80px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.timer-box:hover {
  transform: scale(1.05);
}

h2 {
  transition: color 0.5s ease-in-out;
  color: #007bff;
}

h2:hover {
  color: #0056b3;
}